.wrapper {
    display: block;
}

.item {
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}

.title {
    font-weight: 700;
    color: #000;
    opacity: 0.6;
    margin-bottom: 0;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
}

.sub {
    flex-wrap: wrap;
    display: flex;
    li {
        margin-right: 10px;
        margin-top: 4px;
        line-height: 1.2;
    }

    a {
        font-weight: 500;
        font-size: 14px;
        opacity: 0.6;
        &:hover {
            text-decoration: underline;
        }
    }
}
