.wrapper {
    position: relative;
    max-width: 100%;
    width: 500px;
    height: 46px;
    border-radius: 100px;
    overflow: hidden;
    &:hover {
        .ipt {
            border-color: #ccc;
        }
    }
}
.ipt {
    width: 100%;
    height: 100%;
    padding: 12px 100px 12px 20px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 100px;
    border: 1px solid transparent;
    font-size: 100%;
    caret-color: var(--primary);
    transition: all 0.3s ease;
    &:hover {
        & ~ .btn {
            color: var(--body-color);
        }
    }
    &:focus {
        border-color: #ccc;
        & ~ .btn {
            color: var(--body-color);
        }
    }
}
.clear {
    position: absolute;
    right: 53px;
    top: 1px;
    bottom: 1px;
    margin: auto 0;
    width: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
    color: var(--body-color);
    opacity: 0.34;
    font-size: 100%;
    &:hover {
        color: var(--body-color);
    }
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    position: absolute;
    right: 53px;
    top: 1px;
    bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    font-size: 100%;
    animation: loading 1.6s linear infinite;
}
.btn {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    width: 52px;
    background-color: transparent;
    cursor: pointer;
    color: #a7a7ab;
    font-size: 20px;
    padding-top: 2px;
    border-radius: 0 100px 100px 0;
    cursor: pointer;
    transition: all 0.3s ease-in;
    &::before {
        content: "";
        position: absolute;
        top: 8px;
        bottom: 8px;
        left: -1px;
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
        color: var(--body-color);
    }
}

// Search Results
.searchResult {
    max-width: 100%;
    width: 500px;
}
.searchTitle {
    color: #a7a7ab;
    font-weight: 500;
    padding: 0 12px;
    margin-bottom: 8px;
}
