@import "normalize.css";

//Font
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --font-family: "Roboto", sans-serif;
    --lh: 1.5;
    --primary: #fe2c55;
    --b-cl: #000;
    --w-cl: #fff;
    --body-color: #161823;
    --container: 1230px;
    --px: 15px;
    --shadow: rgba(0, 0, 0, 0.16);

    --input-search: rgba(22, 24, 35, 0.06);
    --ic-search: #a7a7ab;
}

.dark-theme {
    --w-cl: #121212;
    --b-cl: #fff;
    --body-color: rgba(255, 255, 255, 1);
    --shadow: rgba(255, 255, 255, 0.16);
    --input-search: #fff;
    --ic-search: #161823;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    *::-webkit-scrollbar {
        border-radius: 0px;
        width: 8px;
    }
    *::-webkit-scrollbar-track {
        border-radius: 0px;
        background-color: rgba(0, 0, 0, 0);
    }
    *::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(22, 24, 35, 0.3);
    }
}

body {
    font-family: var(--font-family);
    text-rendering: optimizeSpeed;
    font-size: 1.6rem;
    line-height: var(--lh);
    color: var(--body-color);
    background-color: var(--w-cl);
}

[tabindex],
button,
input {
    outline: none;
    border: none;
    appearance: none;
}

input {
    font-family: var(--font-family);
}

a {
    text-decoration: none;
    color: var(--body-color);
}

p {
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
// =======================================
.wrapper {
    margin: 0 auto;
    overflow: hidden;
}
.container {
    // max-width: 100%;
    // width: var(--container);
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

main {
    margin-top: 60px;
    height: 2000px;
}

// Custom tippy
// body {
//     .tippy-box {
//         border-radius: 8px;
//         font-weight: 500;
//         background-color: red;
//         font-size: 16px;
//         line-height: 1.5;
//         background-color: rgba(84, 84, 84, 0.92);
//     }
//     .tippy-arrow {
//         color: rgba(84, 84, 84, 0.92);
//     }
// }
